#header{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b04;
    overflow-y: auto;
}
#header .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
       border: 8px solid #2c2f3f; 
}
